<!doctype html>
<html>
<head>
    {% load staticfiles %}
	<title>LynnBlog</title>
    <script>var writeTo = "{{words}}";var err = "{{err}}";console.log(err);</script>
    <script src="/static/landing/jquery-1.10.2.js"></script>
    <script src="/static/landing/fade_paragraph.js"></script>
    <link rel="stylesheet" href="/static/landing/style.css">
    <style>
    body{background-image:url("static/landing/space.jpg");}
    </style>
</head>	
<body onload="displayText('#text_box',writeTo)">
<div id="content">
    <div id="title_box">
        <p id="title">Such Lynn</p>
    </div>
    <div id="text_area">
        <p id="text_box"></p>
    </div>
</div>
</body>	
</html>